{% comment %} https://www.bootdey.com/snippets/view/Drive-files-documents-user-profile {% endcomment %}
{% load static %}
{% block _css %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}" />
{% endblock %}

<script type="text/javascript" src="{% static 'js/mithril.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components.js' %}"></script>
<script type="text/javascript" src="{% static 'js/box_view.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container" id="main-page">
</div>

<script type="text/javascript">

    $(document).ready(() => {
        m.mount(document.getElementById("main-page"),  {
            view: vn => {
                return m(DynamicStruct, {
                    ws_address: Object.freeze({
                        uuid: "{{ ws_address }}"
                    })
                })
            }
        })
    })
</script>