{% comment %} https://www.bootdey.com/snippets/view/Drive-files-documents-user-profile {% endcomment %}
{% load static %}
{% block _css %}
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

<script type="text/javascript" src="{% static 'js/mithril.min.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/box_view.js' %}"></script>

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div id="profile-card"></div>
                    <div id="vertical-menu"></div>   
                </div>

                <div class="content-panel">
                    <div id="wellcome"></div>
                    <div class="drive-wrapper drive-list-view">
                        <span id="files-list"></span>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(() => {
        // Mount ProfileCardComponent
        m.mount(document.getElementById("profile-card"),  {
            view: vn => {
                return m(ProfileCardComponent, {
                    username: "{{ user.username }}",
                    email: "{{ user.email }}",
                    last_login: "{{ user.last_login }}",
                    image: "https://bootdey.com/img/Content/avatar/avatar6.png"
                })
            }
        })
        // VerticalMenuComponent 
        m.mount(document.getElementById("vertical-menu"), VerticalMenuComponent) 
        
        // WellcomeComponent 
        m.mount(document.getElementById("wellcome"),  {
            view: vn => {
                return m(WellcomeComponent, {
                    name: "{{ user.name }}",
                    folder_id: "{{ current_folder }}",
                })
            }
        })

        //Files list
        m.mount(document.getElementById("files-list"), Tablecomponent) 
    })
</script>